.container {
  display: grid;
  grid-template-columns: 0.7fr 1.8fr 1.1fr;
  grid-template-rows: 0.7fr 2fr 0.3fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    "Sucursales Sucursales Sucursales"
    "Footer Footer Footer";
  font-family: 'Alkatra', cursive;
}

.Header {
  display: grid;
  grid-template-columns: 1fr 1.1fr 1fr 1fr 1fr;
  grid-template-rows: 1.9fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Links Links Links Links Links"
    ". Titulo Titulo Titulo ."
    ". Subtitulo Subtitulo Subtitulo .";
  grid-area: Header;
  background-image: url(img/tazas-capuccino-1600x900.webp);
  background-position: center center;
  background-size: cover;
  padding: 15px;
}

.Titulo {
  grid-area: Titulo;
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 5px;
}

.Subtitulo {
  grid-area: Subtitulo;
  color: rgb(255, 255, 255);
  text-align: center;
}

.Links {
  grid-area: Links;
  .nav {
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: rgba(241, 218, 188, 0.607);
  }
}

.Footer {
  grid-area: Footer;
  text-align: center;
  background-image: url(img/tazas-2.jpg);
  background-position: center center;
  background-size: cover;
  padding: 5px;
  font-size: 17px;

  #iconos {
    font-size: 35px;
  }

  .horarios {
    text-align: justify;
    color: rgb(0, 0, 0);
    margin-left: 7%;
    font-size: 20px;
  }

  .horariosDias {
    text-align: justify;
    color: rgb(241, 218, 188);
    font-size: 18px;
  }
}

.Sucursales {
  display: grid;
  grid-template-columns: 1.1fr 1.1fr;
  grid-template-rows: 0.2fr 2fr 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "TituloSucursal TituloSucursal"
    "mapSucursal1 desc1"
    "mapSucursal2 desc2"
    "mapSucursal3 desc3";
  grid-area: Sucursales;
}

.TituloSucursal {
  grid-area: TituloSucursal;
  text-align: center;
  color: orange;
  margin-top: 15px;
}

.mapSucursal1 {
  grid-area: mapSucursal1;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  margin: 5px;
}

.mapSucursal2 {
  grid-area: mapSucursal2;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  margin: 5px;
}

.mapSucursal3 {
  grid-area: mapSucursal3;
  border-style: solid;
  border-radius: 10px;
  border-color: grey;
  margin: 5px;
}

.desc1 {
  grid-area: desc1;
  color: rgb(121, 70, 5);
  text-align: center;

  .cuadro {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(241, 218, 188);
  }

  margin: 10px;
}

.desc2 {
  grid-area: desc2;
  color: rgb(121, 70, 5);
  text-align: center;

  .cuadro {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(241, 218, 188);
  }

  margin: 10px;
}

.desc3 {
  grid-area: desc3;
  color: rgb(121, 70, 5);
  text-align: center;

  .cuadro {
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(241, 218, 188);
  }

  margin: 10px;
}