*{
    font-family: 'Alkatra', cursive;
}
a{
    background-color: rgb(255, 162, 0);
}
header { 
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(223,139,52,1) 35%, rgba(213,233,11,0.9416141456582633) 100%);
padding: 15px;
} 
body{
    margin: 0px;
    background-color: rgb(241, 218, 188);
}
footer{
    text-align: center;
background: linear-gradient(100deg, rgba(2,0,36,1) 0%, rgba(223,139,52,1) 35%, rgba(213,233,11,0.9416141456582633) 100%);
padding: 15px;

}
h1{
    text-align: center;
    font-size: 35px;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
}
h3{
    color: rgb(62, 29, 6);
}
table{
    font-size: 20px;
    text-align:justify;
}
#ingredientesid{
    color: brown;
    font-size: 25px;
}
#cantidadesid{
    color:crimson;
}
span{
    font-size: 18px;
    text-align: center;
    
}
div{
    font-size: 15px;
    text-align: center;
}
.imagen{
    border-color:black;
    border-width: 10px;
    border-style: ridge;
    
}
.nav {
    background-color: rgb(49, 3, 3); 
    color: white; 
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 17px;
}
#haceclick{
    background-color: rgb(227, 196, 21); 
    color: rgb(85, 31, 11); 
    border-radius: 2px;
    padding: 2px;
    font-size: 20px;
    text-align:justify;
    border-style:outset;
}
menu{
    margin: 15px;
}
p{
    font-size: 18px;
}